<template name="ShoppingCart">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ShoppingCartOrdersListView}}
	</div>
	<footer>
		<a href="runner_selection"><img src="images/BackgroundandSplash/BackButton.jpg"></a>
		<img src="images/BackgroundandSplash/MasterPass3.jpg">

	</footer>
</template>

<template name="ShoppingCartOrdersListView">
	<div id="data_view" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ShoppingCartOrdersListViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="ShoppingCartOrdersListViewTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="productsOrdered">
					Your Order
				</th>
				<th class="th-sortable" data-sort="runner_name">
					Runner Name
				</th>
				<th class="th-sortable" data-sort="buyer_name">
					Buyer Name
				</th>
				<th class="th-sortable" data-sort="buyer_price">
					Order Total
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> ShoppingCartOrdersListViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ShoppingCartOrdersListViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{productsOrdered}}
		</td>
		<td>
			{{runner_name}}
		</td>
		<td>
			{{buyer_name}}
		</td>
		<td>
			$6.00
		</td>
	</tr>
</template>

