<template name="UserSettingsPaymentMethods">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
                            </div>
                            </div>
                        <div class="col-md-12">
				<div id="page_content" class="pull-right">
                            <script type="text/javascript"
                                    src="https://www.simplify.com/commerce/simplify.pay.js"></script>
                            <button data-sc-key="irIfdAmItZ7U9WAFSSEt7Xm20ok5zyZ1xluix6V/+FV5YFFQL0ODSXAOkNtXTToq"
                                    data-name="Add Credit Card"
                                    data-description="Add Card for future payments"
                                    data-operation='create.token'
                                    data-color="#12B830">
                                    Buy Now
                            </button>
				</div>
			</div>

		</div>
	</div>
</template>

