<template name="UserSettingsPaymentMethods">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
                <div class="row" id="content_row">
                    <div class="container">
                        <form class="form-inline">
                            <h2 >Enter Payment Methods </h2>
														<script type="text/javascript"
        src="https://www.simplify.com/commerce/simplify.pay.js"></script>
<button data-sc-key="sbpb_MjAwOGFlZWYtZGU0OC00YWQ3LWEzZjAtZWY2ZTUzZWY4NjE4"
        data-name="Enter Credit Card"
        data-description=" "
				data-operation="create.token"
        data-color="#12B830">
        Buy Now
</button>

                        </form>
                    </div>
                </div>

	</div>
</template>
