<template name="EventAdmin">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Event Admin
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> EventAdminEventAdminList}}{{> EventAdminAddEvent}}
	</div>
</template>

<template name="EventAdminEventAdminList">
	<div id="data_view" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> EventAdminEventAdminListTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="EventAdminEventAdminListTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="eventName">
					Event Name
				</th>
				<th class="th-sortable" data-sort="eventImage">
					Image
				</th>
				<th class="th-sortable" data-sort="venueName">
					venueName
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> EventAdminEventAdminListTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="EventAdminEventAdminListTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{eventName}}
		</td>
		<td>
			{{eventImage}}
		</td>
		<td>
			{{venueName}}
		</td>
	</tr>
</template>

<template name="EventAdminAddEvent">
	<div class="">
		<h2 id="component-title">
			Add Event
		</h2>
		<form id="form" role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-event-name">
				<label for="eventName">
					Event Name
				</label>
				<div class="input-div">
					<input type="text" name="eventName" value="" class="form-control" autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-venue">
				<label for="venue">
				</label>
				<div class="input-div">
					<select class="form-control" name="venue" data-type="string">
						{{#each venues_list}}
						<option value="{{_id}}">
							{{venueName}}
						</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-event-image">
				<label for="eventImage">
					Image
				</label>
				<div class="input-div">
					<input type="text" name="eventImage" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-venue-name">
				<label for="venueName">
				</label>
				<div class="input-div">
					<input type="text" name="venueName" value="" class="form-control" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

