<template name="eventsListBetter">
<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="eventName">
					Event Name
				</th>
				<th class="th-sortable" data-sort="venue">
					venue
				</th>
				<th class="th-sortable" data-sort="eventImage">
					Image
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
		test
			{{#each tableItems}} {{> EventsEventsTableItems}} {{/each}}
		</tbody>
	</table>
</template>
